*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
#logo {
    font-size: 20px;
    font-weight: 600;
}
nav{
    display: flex;
    height: 80px;
    background: rgb(71, 92, 92);
    align-items: center;
    color: white;
    justify-content: space-between;
    padding: 0px 50px 0px 100px;
    

}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    margin: 0px 10px;
  

}
nav ul li a{
    text-decoration: none;
    padding: 15px 20px;
    transition:all 0.4s;
    border-radius: 5px;
    font-weight: 300;
    color: white;
    font-family:sans-serif;
   
}
.menu{
    display: none;
}
nav ul li a:hover{
    background-color: white;
    color:rgb(71, 92, 92) ;

}
@media (max-width:940px) {
    nav ul {
        position: fixed;
        top: 80px;
        z-index: 5;
        height: 100vh;
        width: 100%;
        background:rgb(71, 92, 92) ;
        display: block;
        text-align: center;
        transition: all 0.6s;
    }

    nav ul li {
        padding: 20px;
    }
    nav ul li a {
        padding: 10px 20px 10px 20px;
    }
    .menu{
        display: inline;
    }
}
.footer{
    position: inherit;
    color: white;
    background:rgb(71, 92, 92) ;
    width: 100%;
    bottom: 0px;
    text-align: center;
    padding: 5px;
    /* align-self: baseline; */
}
.slidere{
    width: 100%;
    height: 50vh;
    margin: auto;
    position: relative;
}
.figureimg{
 width: 100%;
 display: inline-flex;

}
.figureimg img{
    width: 100%;
}
