*{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3;;
    font-size: 15px;
}
.navbar{
    display: flex;
flex-direction: row;
justify-content: left;
margin-bottom: -29px;

}
#mic{
    height: 35px;
    width: 35px;

}
#search{
    color: #1a0dab;
    margin: 7px;
    height: 18px;
    width: 18px;
    padding-left: 10px;
}
#close{
    padding-right: 14px; 
    margin: 2px;
    height: 17px;
    width: 17px;
    filter: invert(60%);

    border-right:1px solid #be2929ef;
    padding: 8px;
}
.search-bar{
    height: 4vh;
    width: 730px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 1px 1px 15px -8px;
    border-radius: 34px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin: 35px 0px 0px 35px;
    padding: 6px;
}
.text-type{
    display: flex;
    width: 578px;
    height: 28px;
    outline: none;
    border: 2px solid white;
    border-radius: 23px;
    flex-direction: row;
    justify-content: left;
    font-size: larger;
}


.google-icon{
    height: 18vh;
}
.section-1{
    display: inline-block;
    
    margin-left: 153px;
 
}
.section{
    display: inline-block;
    width: 44%;
    height: auto;
    margin-left: 197px;
 
}
.info ul{
    margin: -15px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    text-decoration: none;
    list-style: none;

}
li{
    color: rgb(111, 114, 117);
    padding-left: 23px;
}
.hr{
  position: relative;
    border-top: 1px solid rgb(247, 241, 241);
    display: flex;
    margin: 14px;
    width: 100%;
    margin-right: 4px;
}
#line-1{
    color: rgb(129, 132, 134);
    margin: -12px;
    margin-left: 4px;
    padding-bottom:25px;
}
span{
    padding-left: 3px;
    color: rgb(133, 131, 129);
}
h3{
    font-size: 20px;
    color: #1a0dab;
    margin:6px 0 0 0;
}
p{
    display: flex;
    padding: auto;
    margin: auto;
}
.result-1{
    margin: 25px -1px 25px 0px;
}
.result{
    margin-top:7px;

}
.result-3{
    display: flex;
    flex-direction: row;

}
iframe{
    margin-right:3px;
    border: 1px solid white;
    border-radius: 13px;
}
.desc{
    display: flex;
    flex-direction: column; 
    padding:7px;
}
#gs{position: relative;
    left: 20px;
    height: 20px;
    width: 20px;
}
#video{position: relative;
    filter: invert(50%);
    left: 20px;
    height: 20px;
    width: 20px;
    color: silver;
}
#more{position: relative;
    filter: invert(50%);
    left: 20px;
    height: 20px;
    width: 20px;
    color: silver;
}
#news{position: relative;
 filter: invert(50%);
    left: 20px;
    height: 20px;
    width: 20px;
    color: silver;
}
#image{position: relative;
    filter: invert(50%);
    left: 20px;
    height: 20px;
    width: 20px;
    color: silver;
}
#Map{position: relative;
    filter: invert(50%);
    left: 20px;
    height: 20px;
    width: 20px;
    color: silver;
}

#all{
  color: #1a46da;

}
.bar{
    left: 200px;
    top: 14px;
    position: relative;
    width: 40px;
    height: 3px;
    background-color: #1a46da;
}
a{
    text-decoration: none;
}
.visited {
    color: rgb(103, 13, 163);
  }
