
* {
  box-sizing: border-box;
}

/* Remove margins and padding from the list */
ul {
  margin: 0px;
  padding: 0px;
}

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: rgb(238, 238, 238);
  font-size: 18px;
  transition: 0.2s;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(even) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
  background: rgb(15, 216, 32);
  color: rgb(54, 15, 224);
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f4b836;
  color: white;
}

/* Style the header */
.header {
  background-color: #f436db;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

.adding
{
    display: inline-block;
    width:100%;
    margin: auto;
}
/* Style the input */
input {
  margin-right: 10px;
  border: dashed 1px darkblue;
  border-radius: 50px;
  padding: 10px;
  float: center;
  font-size: 16px;

}

/* Style the "Add" button */
.addBtn {
  padding: 10px;
  background: #d9d9d9;
  color: #555;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: rgb(255, 255, 255);
  color: #f436db;
  font-weight: 600;
}